* {
    font-size: 1.6rem;
}

.nav-admin {
    display: flex;
    justify-content: space-between;
    height: 100px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    user-select: none;
}

.nav-admin__logo img {
    padding: 50px 0 0 50px;
    margin-bottom: 47px;
    transform: translateY(-19px);
    cursor: pointer;
}

.nav-admin__user {
    padding: 50px;
    align-items: center;
    cursor: pointer;
}

.nav-admin__user {
    display: flex;
    align-items: center;
}

.nav-admin__user--img img {
    width: 30px;
    border: 3px solid var(--bg-1-color);
    border-radius: 50%;
    margin-right: 10px;
    align-items: center;
}

.nav-admin__user--name {
    align-items: center;
}

.admin-header {
    display: flex;
    justify-content: flex-end;
    margin: 50px;
}

.admin-header input {
    padding: 10px 7px;
    width: 350px;
    margin-left: 50px;
    border: 1px solid #dddddd;
    outline-color: #dddddd;
    border-radius: 5px;
}

.admin-header input:focus {
    outline-color: var(--main-color);
}

.btn-admin button {
    padding: 10px 50px;
    /* border: 1px solid #dddddd; */
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgba(229, 137, 10, 0.1);
    transition: 0.25s ease-in;
}

.btn-admin button a {
    font-size: 1.8rem;
    font-weight: bold;
}

.btn-admin button:hover {
    background-color: var(--bg-1-color);
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.container-table {
    width: 100%;
}

.table-content {
    width: 100%;
    overflow-x: scroll;
}

.wrap-data {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
}

.menu {
    width: 15%;
    background-color: rgba(229, 137, 10, 0.1);
    margin-right: 10px;
    min-height: 100vh;
    margin-top: 50px;
}

.menu-item {
    padding: 10px 30px;
    display: block;
    cursor: pointer;
    transition: 0.35s all;
}

.menu-item:hover {
    background-color: var(--bg-1-color);
}

.menu-item__link {
    font-size: 1.8rem;
    color: black;
    font-weight: bold;
}

.table-item.active {
    display: block;
}

.table-item {
    display: none;
}

.tables {
    width: 85%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 150%;
    font-size: 1.6rem;
}

td,
th {
    /* border: 1px solid #dddddd; */
    text-align: left;
    padding: 8px;
    text-align: center;
}

.heading-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}

.heading-description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}


/* tr:nth-child(even) {
    background-color: #fff;
} */

.row__data:hover {
    transition: 0.35s ease;
    background-color: rgba(229, 137, 10, 0.1);
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.container-opacity {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(100, 100, 111, 0.5);
    visibility: hidden;
}

.forms {
    /* display: none; */
}

.form-item {
    display: none;
    padding: 50px;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    z-index: 999;
    background-color: var(--bg-1-color);
    border-radius: 5px;
}

.form-item.active {
    display: block;
}

.forms form {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}

.label-form {
    display: block;
    font-weight: bold;
}

.row-form__line {
    display: flex;
    /* justify-content: space-around; */
    margin: 15px auto;
}

.input-form {
    width: 300px;
    padding: 10px 8px;
    border: 1px solid #dddddd;
    border-radius: 5px;
}

.input-form:focus,
.input-form--link:focus {
    outline-color: var(--main-color);
}

.input-form--link {
    width: 638px;
    padding: 10px 8px;
    height: 100px;
    border: 1px solid #dddddd;
    border-radius: 5px;
}

.btn-form {
    display: flex;
    justify-content: space-evenly;
    margin-left: 50px;
}

.btn-form button {
    /* margin: 15px auto; */
    padding: 10px 70px;
    outline-color: #dddddd;
    border-radius: 5px;
    border: 1px solid #dddddd;
    font-size: 1.6rem;
    font-weight: bold;
    cursor: pointer;
    color: black;
}

.btn-exit {
    margin-right: 58px;
}

.row-form__line div {
    margin: 0 20px;
}

.show {
    visibility: visible;
}

.hide {
    visibility: hidden;
    top: -10%;
}

.btn-delete,
.btn-edit {
    font-size: 3rem;
    background-color: transparent;
    border: none;
}

.fa-edit {
    font-size: 2rem;
    color: #52e21a;
    margin-left: 10px;
}

.fa-trash-alt {
    font-size: 2rem;
    color: rgb(236, 90, 90);
    margin-left: 10px;
}

.pagination {
    display: flex;
    margin: 50px 0;
    align-items: center;
    justify-content: space-evenly;
}

.pagination a {
    padding: 5px;
    margin: 0 -30%;
    color: var(--main-color);
    font-size: 2rem;
}

.pagination-active {
    font-weight: bolder;
}

@media (max-width: 1024px) {
    body {
        display: none;
    }
}