:root {
    --bg-1-color: #ebd9ca;
    --text-color: #888888;
    --main-color: #e5890a;
    --white-color: #ffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
    line-height: 1.6;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

#app,
#header,
#slider,
#app-content,
#footer {
    position: relative;
}