.container-cart {
    margin: 100px auto;
}

.table-cart {
    width: 1000px;
    margin: auto;
}

.table-cart table tr td {
    padding: 20px 0 30px 20px;
}

.table-cart__heading-col {
    text-align: left;
    font-size: 1.6rem;
    margin-left: 30px;
}

.table-cart__product-info__img img {
    width: 120px;
    height: 120px;
    object-fit: contain;
}

.table-cart__product-info {
    display: flex;
}

.table-cart__product-info__img {
    /* border: 1px solid black; */
}

.table-cart__product-info__name {
    margin: 0 0 0 20px;
    font-size: 1.6rem;
    align-items: center;
    width: 415px;
    transform: translateY(25px);
}

.table-cart__product-info__price,
.table-cart__product-info__quantity,
.table-cart__product-info__total {
    font-size: 1.6rem;
    width: 400px;
}

.table-cart__product-info__quantity input {
    width: 40px;
    height: 30px;
    padding: 5px;
}

.table-cart__product-info__remove {
    margin-right: 15px;
}

.cart-sub {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.cart-sub__heading,
.cart-sub__price {
    font-size: 1.6rem;
    margin: 20px 60px 10px 40px;
}

.cart-btn {
    display: flex;
    justify-content: flex-end;
}

.btn-continue-shopping,
.btn-to-checkout {
    padding: 12px 50px;
    outline: none;
    color: var(--white-color);
    border: none;
    background-color: var(--main-color);
    cursor: pointer;
    font-size: 1.6rem;
    border-radius: 20px;
}

.btn-continue-shopping {
    margin: 20px 20px 20px 0;
}

.btn-continue-shopping a,
.btn-to-checkout a {
    color: var(--white-color);
}

.btn-to-checkout {
    margin: 20px 20px 20px 0;
}

.btn-continue-shopping a:hover,
.btn-to-checkout a:hover {
    color: var(--white-color);
}